.pokedex  {
  display: flex;
  flex-direction: column;
  max-width: 100%;
  align-items: center;
}

.pokemonButtonStyle  {
	box-shadow: inset 6px -2px 11px -6px #23395e;
	background: linear-gradient(to bottom, #2e466e 5%, #415989 100%);
	background-color: #2e466e;
	border-radius: 20px;
	display: inline-block;
	cursor: pointer;
	color: #ffffff;
	font-family: Arial;
	font-size: 18px;
	padding: 10px 25px;
  margin: 4px 2px;
	text-decoration: none;
	text-shadow: 0px 1px 0px #263666;
  transition-duration: 1s;
}

.pokemonButtonStyle:hover  {
	background:linear-gradient(to bottom, #415989 5%, #2e466e 100%);
	background-color: #415989;
}

.pokemonButtonStyle:active  {
	position: relative;
	top: 1px;
}
