html,
body {
  font-family: Arial, sans-serif;
}

/* Loading animation and keyframe */

#spinner:not([hidden]) {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

#spinner::after {
  content: "";
  width: 80px;
  height: 80px;
  border: 2px solid #f3f3f3;
  border-top: 3px solid #f25a41;
  border-radius: 100%;
  will-change: transform;
  animation: spin 1s infinite linear
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.pokedex  {
  display: flex;
  flex-direction: column;
  max-width: 100%;
  align-items: center;
}

/* buttons for each pokemon */

ul  {
  list-style: none;
}

.pokemonButtonStyle  {
	box-shadow: inset 6px -2px 11px -6px #23395e;
	background: linear-gradient(to bottom, #2e466e 5%, #415989 100%);
	background-color: #2e466e;
	border-radius: 20px;
	display: grid;
	cursor: pointer;
	color: #ffffff;
	font-family: Arial;
	font-size: 18px;
  text-transform: capitalize;
	padding: 10px 25px;
  margin: 4px 2px;
	text-decoration: none;
	text-shadow: 0px 1px 0px #263666;
  list-style-type: none;
  transition-duration: 1s;
}

.pokemonButtonStyle:hover  {
	background:linear-gradient(to bottom, #415989 5%, #2e466e 100%);
	background-color: #415989;
}

.pokemonButtonStyle:active  {
	position: relative;
	top: 1px;
}

/* modal design */

#modal-container {
  display: none;
}

#modal-container.is-visible {
  /* CSS for modal container - add your own desired CSS styles here */
  display: block;
}

#modal-container.is-visible {
  position: fixed;
  padding: 20px;
  box-sizing: border-box;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);

  /* to show it above other content */
  z-index: 999;

  /* to allow scrolling if the screen is not high enough*/
  overflow: auto;

  /* this is used to center the modal */
  display: grid;
  text-align: center;
}

.modal {
  margin: auto;
  display: inline-block;
  box-sizing: border-box;
  background: #fff;
  padding: 15px;
  width: 100%;
  max-width: 700px;
  text-align: center;
}

.modal-close {
  float: right;
  -webkit-appearance: none;
  background: none;
  color: #777;
  border: 1em, #777;
  border-width: 50%;
}

.modal h1 {
  margin-top: 0;
  text-transform: capitalize;
}

.modal p {
  margin-bottom: 0;
}
